@CHARSET "ISO-8859-1";
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	font-family: 'Assistant', sans-serif;
	background-color: #F7F9F9;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.chart{
	width: 100%;
}

#chart_div{
	width: 100%;
}

#chart2_div{
	width: 100%;
}

#chart3_div{
	width: 100%;
}
#floating-panel {
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	text-align: center;
}

p{
	font-size: 20px;
}

#navigation{
	background-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-color: #E5E7E9;
	font-family: 'Assistant', sans-serif;
}

#header-con{
	padding-top: 50px;
	padding-bottom: 50px;
}